@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 99;
    margin-top: 50%;
}

body.theme-default {
    --text-color: #ddd;
    --bg-color: #0e0024;
    --second-btn-hover-color: #4800bb75;
    --modal-inner-bg-color: #120030;
    --accent-bg-color: #220058;
    --bar-bg-color: #1b0046;
    --nav-btn-hover-color: rgb(121, 121, 121);
    --img-border-color: #3b0099;
}
body.theme-oled {
    --text-color: #ddd;
    --bg-color: rgb(5, 5, 5);
    --second-btn-hover-color: black;
    --modal-inner-bg-color: black;
    --accent-bg-color: rgb(17, 17, 17);
    --bar-bg-color: #000000;
    --nav-btn-hover-color: rgb(121, 121, 121);
    --img-border-color: rgb(77, 77, 77);
}

*, html, body {
    transition: .3s;
    transition-timing-function: ease-in-out;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    font-weight: 500;
}

.container, .loader, .container2, .settings-overlay, .tab-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.tab-title {
    transform: translate(-195%, -525%);
}
.tab-title a {
    font-size: 48px;
    font-weight: 800;
}
.loader, .container2, .settings-overlay {
    background: var(--accent-bg-color);
    z-index: 99;
    border-radius: 15px;
}
.loader .inner, .container2 .inner {
    padding: 25px 40px;
}

.loader::before, .container2::before, .settings-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-color: var(--modal-inner-bg-color);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    z-index: -1;
}

.frame {
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    position: absolute;
    background: var(--accent-bg-color);
    width: 100%;
    height: 25px;
    -webkit-app-region: drag;
}

.left {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.right {
    margin-right: 1px;
    -webkit-app-region: no-drag;
}
.btn-frame {
    display: inline-block;
    padding: 2px 10px;
    cursor: pointer;
    color: var(--text-color);
}

.btn-frame {
    padding: 3px 15px;
    background: transparent;
    color: var(--text-color);
}
.btn-minimize-window:hover {
    background-color: var(--second-btn-hover-color);
}
.btn-close-window:hover {
    background-color: red;
}

.btn-minimize-window {
    margin-right: -5px;
}

.leftbar {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-292%, -48.5%);
    text-align: center;
    opacity: 1;
    visibility: visible;
    background: var(--bar-bg-color);
    width: 200px;
    height: 685px;
}
.hidden-left {
    transform: translate(-1600%, -50%);
    opacity: 0;
    visibility: hidden;
}
.hidden-top {
    transform: scale(120%);
    opacity: 0;
    visibility: hidden;
}

.btn.btn-nav, .btn-nav.updatecheck {
    padding: 5px 20px;
    background: transparent;
    border-radius: 5px;
    display: block;
    font-size: 20px;
    width: 145px;
    text-decoration: none;
    color: rgb(73, 73, 73);
    margin-left: 10px;
    margin-bottom: 5px;
}
.btn.btn-nav.active, .btn.btn-nav.active:hover {
    background: var(--accent-bg-color);
    color: white;
}
.btn.btn-nav:hover {
    color: var(--nav-btn-hover-color);
    background: var(--accent-bg-color);
}
.btn.btn-nav.updatecheck:hover {
    color: var(--accent-bg-color);
    background: var(--img-border-color);
}

.bottom-acc {
    position: relative;
    top: 370px;
}
.bottom-acc img {
    position: relative;
    border: 1px solid var(--img-border-color);
    left: -25px;
    border-radius: 50%;
}
.bottom-acc .user-name {
    font-weight: 700;
    position: relative;
    font-size: 18px;
    top: -20px;
    left: -25px;
}

.inner img {
    position: relative;
    left: -25px;
    border-radius: 50%;
    border: 1px solid var(--img-border-color);
}
.inner .user-name {
    font-weight: 700;
    position: relative;
    font-size: 18px;
    top: -20px;
    left: -5px;
}

.btn.btn-settings {
    color: white;
    text-decoration: none;
    font-size: 22px;
    position: absolute;
    top: 15px;
    left: 152.5px;
    padding: 5px 7.5px;
    border-radius: 5px;
}
.btn.btn-settings:hover {
    background-color: var(--nav-btn-hover-color);
}

.btn.btn-login {
    padding: 10px 30px;
    background-color: var(--nav-btn-hover-color);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
}
.btn.btn-login:hover {
    background: var(--bg-color);
}

.settings-category.profile {
    left: -60px;
    position: relative;
}
.settings-category.app {
    left: -75px;
    position: relative;
}
.settings-info {
    color: var(--nav-btn-hover-color);
}


.settings-overlay .inner {
    padding: 25px 40px;
    width: 150px;
    background-color: var(--accent-bg-color);
    position: absolute;
    border-radius: 10px;
    transform: translate(0%, -50%);
}

.btn.btn-danger, .btn.btn-nodanger {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    background: red;
    border: 1px solid red;
    border-radius: 5px;
}
.btn.btn-nodanger {
    background: #00ff00;
    border: 1px solid #00ff00;
}
.btn.btn-danger:hover, .btn.btn-nodanger:hover {
    background: transparent;
}

.theme-picker {
    display: inline-block;
    margin-bottom: 10px;
}

.theme-pick {
    padding: 25px 37.5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid var(--bg-color);
    opacity: 1;
    transition: none;
}
.theme-pick.selected {
    padding: 25px 30px;
    opacity: 1;
}
.theme-pick.default {
    background-image: linear-gradient(45deg, #3b0099, #120030);
}
.theme-pick.oled {
    background-image: linear-gradient(45deg, rgb(5, 5, 5), rgb(29, 29, 29));
}